* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(227, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  min-width: 500px;
  min-height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(255, 104, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 3px;
  z-index: 100;
}

.header {
  font-size: 32px;
}
.sw {
  margin-top: 32px;
}
.content {
  margin-top: 32px;
  display: flex;
  text-align: center;
}
.time {
  font-size: 72px;
  padding: 12px;
  background-color: rgb(255, 166, 0);
  border-radius: 4px;
}
.btn-container {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn {
  width: 150px;
  height: 80px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.3s;
}
#reset {
  color: rgb(49, 49, 49);
  background-color: rgb(218, 218, 218);
}
#reset:hover {
  color: rgb(218, 218, 218);
  background-color: rgb(49, 49, 49);
}
#start {
  color: rgb(28, 99, 0);
  background-color: rgb(201, 255, 230);
}
#start:hover {
  color: rgb(201, 255, 230);
  background-color: rgb(28, 99, 0);
}
#stop {
  color: rgb(196, 0, 0);
  background-color: rgb(255, 183, 183);
}
#stop:hover {
  color: rgb(255, 183, 183);
  background-color: rgb(196, 0, 0);
}
.belt {
  width: 200px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(104, 71, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.438) 0px 4px 6px,
    rgba(0, 0, 0, 0.233) 0px 12px 13px, rgba(0, 0, 0, 0.548) 0px -3px 5px;
}
.ring {
  position: absolute;
  width: 540px;
  height: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.438) 0px 4px 6px,
    rgba(0, 0, 0, 0.233) 0px 12px 13px, rgba(0, 0, 0, 0.548) 0px -3px 5px;
  z-index: 5;
}
#footer {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 251, 247);
  border-top: 1px solid rgb(145, 145, 145);
  font-size: 36px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
}
@media (max-width: 760px) {
  .container {
    min-width: 350px;
    min-height: 350px;
    letter-spacing: 1px;
  }
  .header {
    font-size: 20px;
  }
  .content {
    margin-top: 32px;
    font-size: 16px;
  }
  .time {
    font-size: 48px;
    padding: 8px;
    border-radius: 4px;
  }
  .btn-container {
    width: 300px;
    margin-top: 8px;
  }
  .btn {
    width: 120px;
    height: 60px;
    margin: 4px;
    font-size: 20px;
  }
  .ring {
    width: 400px;
    height: 400px;
  }
  #footer {
    height: 50px;
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  .container {
    min-width: 320px;
    min-height: 320px;
  }
  .content {
    margin-top: 26px;
    font-size: 14px;
  }
  .sw {
    margin-top: 16px;
  }
  .time {
    font-size: 48px;
    padding: 8px;
    border-radius: 4px;
    margin-top: 20px;
  }
  .btn-container {
    width: 280px;
    margin-top: 16px;
  }
  .btn {
    width: 120px;
    height: 45px;
    margin: 4px;
    font-size: 20px;
  }
  .ring {
    width: 350px;
    height: 350px;
  }
  .belt {
    width: 150px;
  }
} ;
